In [65]:
import pandas as pd
import numpy as np

In [66]:
cafe = pd.read_csv("dirty_cafe_sales.csv")
cafe.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [41]:
cafe.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              9667 non-null   str
 2   Quantity          9862 non-null   str
 3   Price Per Unit    9821 non-null   str
 4   Total Spent       9827 non-null   str
 5   Payment Method    7421 non-null   str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: str(8)
memory usage: 625.1 KB

In [42]:
cafe.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [43]:
cafe.rename(columns={
    'Transaction ID': 'Transaction_id',
    'Item': 'Item',
    'Quantity': 'Quantity',
    'Price Per Unit': 'Unit_price',
    'Total Spent': 'Total_spent',
    'Payment Method': 'Payment_method',
    'Location': 'Location',
    'Transaction Date': 'Transaction_date'
}, inplace=True)
cafe.head(10)

,Transaction_id,Item,Quantity,Unit_price,Total_spent,Payment_method,Location,Transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [44]:
num_cols=['Quantity', 'Unit_price', 'Total_spent']
cafe[num_cols] = cafe[num_cols].apply(pd.to_numeric, errors='coerce')
cafe[num_cols].dtypes

Quantity       float64
Unit_price     float64
Total_spent    float64
dtype: object

In [45]:
cafe[num_cols] = cafe[num_cols].replace({
    'ERROR': np.nan,
    " ": np.nan
})
cafe.head(10)

,Transaction_id,Item,Quantity,Unit_price,Total_spent,Payment_method,Location,Transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3.0,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,2023-12-31

In [46]:
catg_cols=['Item', 'Payment_method', 'Location']
cafe[catg_cols] = cafe[catg_cols].replace({
    'ERROR': np.nan,
    " ": np.nan, 
    'UNKNOWN': 'Unknown'
})
cafe.head(10)

,Transaction_id,Item,Quantity,Unit_price,Total_spent,Payment_method,Location,Transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,Unknown,3.0,3.0,9.0,NaN,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,Unknown,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,2023-12-31

In [47]:
cafe[catg_cols] = cafe[catg_cols].apply(lambda col: col.str.lower())
cafe.head(10)

,Transaction_id,Item,Quantity,Unit_price,Total_spent,Payment_method,Location,Transaction_date
0,TXN_1961373,coffee,2.0,2.0,4.0,credit card,takeaway,2023-09-08
1,TXN_4977031,cake,4.0,3.0,12.0,cash,in-store,2023-05-16
2,TXN_4271903,cookie,4.0,1.0,NaN,credit card,in-store,2023-07-19
3,TXN_7034554,salad,2.0,5.0,10.0,unknown,unknown,2023-04-27
4,TXN_3160411,coffee,2.0,2.0,4.0,digital wallet,in-store,2023-06-11
5,TXN_2602893,smoothie,5.0,4.0,20.0,credit card,NaN,2023-03-31
6,TXN_4433211,unknown,3.0,3.0,9.0,NaN,takeaway,2023-10-06
7,TXN_6699534,sandwich,4.0,4.0,16.0,cash,unknown,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,takeaway,2023-07-28
9,TXN_2064365,sandwich,5.0,4.0,20.0,NaN,in-store,2023-12-31

In [56]:
valid_rows = cafe[['Quantity','Unit_price','Total_spent']].notna().all(axis=1)

np.isclose(
    cafe.loc[valid_rows, 'Quantity'] * cafe.loc[valid_rows, 'Unit_price'],
    cafe.loc[valid_rows, 'Total_spent']
).all()

np.True_

In [57]:
cafe.head(50)

,Transaction_id,Item,Quantity,Unit_price,Total_spent,Payment_method,Location,Transaction_date
0,TXN_1961373,coffee,2.0,2.0,4.0,credit card,takeaway,2023-09-08
1,TXN_4977031,cake,4.0,3.0,12.0,cash,in-store,2023-05-16
2,TXN_4271903,cookie,4.0,1.0,4.0,credit card,in-store,2023-07-19
3,TXN_7034554,salad,2.0,5.0,10.0,unknown,unknown,2023-04-27
4,TXN_3160411,coffee,2.0,2.0,4.0,digital wallet,in-store,2023-06-11
5,TXN_2602893,smoothie,5.0,4.0,20.0,credit card,NaN,2023-03-31
6,TXN_4433211,unknown,3.0,3.0,9.0,NaN,takeaway,2023-10-06
7,TXN_6699534,sandwich,4.0,4.0,16.0,cash,unknown,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,takeaway,2023-07-28
9,TXN_2064365,sandwich,5.0,4.0,20.0,NaN,in-store,2023-12-31
10,TXN_2548360,salad,5.0,5.0,25.0,cash,takeaway,2023-11-07
11,TXN_3051279,sandwich,2.0,4.0,8.0,credit card,takeaway,ERROR
12,TXN_7619095,sandwich,2.0,4.0,8.0,cash,in-store,2023-05-03
13,TXN_9437049,cookie,5.0,1.0,5.0,NaN,takeaway,2023-06-01
14,TXN_8915701,NaN,2.0,1.5,3.0,NaN,in-store,2023-03-21
15,TXN_2847255,salad,3.0,5.0,15.0,credit card,in-store,2023-11-15
16,TXN_3765707,sandwich,1.0,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,juice,2.0,3.0,6.0,cash,in-store,2023-02-24
18,TXN_8876618,cake,5.0,3.0,15.0,cash,NaN,2023-03-25
19,TXN_3709394,juice,4.0,3.0,12.0,cash,takeaway,2023-01-15
20,TXN_3522028,smoothie,NaN,4.0,NaN,cash,in-store,2023-04-04
21,TXN_3567645,smoothie,4.0,4.0,16.0,credit card,takeaway,2023-03-30
22,TXN_5132361,sandwich,3.0,4.0,12.0,digital wallet,takeaway,2023-12-01
23,TXN_2616390,sandwich,2.0,4.0,8.0,NaN,NaN,2023-09-18
24,TXN_9400181,sandwich,5.0,4.0,20.0,cash,in-store,2023-06-03
25,TXN_7958992,smoothie,3.0,4.0,12.0,unknown,unknown,2023-12-13
26,TXN_5183041,cookie,5.0,1.0,5.0,credit card,in-store,2023-04-20
27,TXN_5695074,juice,4.0,3.0,12.0,credit card,takeaway,2023-04-10
28,TXN_8467949,smoothie,5.0,4.0,20.0,credit card,NaN,2023-03-11
29,TXN_7640952,cake,4.0,3.0,12.0,digital wallet,takeaway,ERROR
30,TXN_1736287,NaN,5.0,2.0,10.0,digital wallet,NaN,2023-06-02
31,TXN_8927252,unknown,2.0,1.0,2.0,credit card,NaN,2023-11-06
32,TXN_9677376,smoothie,4.0,4.0,16.0,NaN,in-store,2023-08-15
33,TXN_7710508,unknown,5.0,1.0,5.0,cash,NaN,ERROR
34,TXN_8853997,smoothie,2.0,4.0,8.0,digital wallet,takeaway,2023-10-09
35,TXN_9130559,sandwich,1.0,4.0,4.0,credit card,unknown,2023-05-28
36,TXN_6855453,unknown,4.0,3.0,12.0,NaN,in-store,2023-07-17
37,TXN_1080432,salad,2.0,5.0,10.0,credit card,in-store,2023-04-29
38,TXN_2655815,smoothie,4.0,4.0,16.0,NaN,takeaway,2023-06-08
39,TXN_6688524,coffee,4.0,2.0,8.0,NaN,NaN,2023-06-29
40,TXN_2083138,smoothie,3.0,4.0,12.0,NaN,in-store,2023-04-17
41,TXN_2427584,sandwich,4.0,4.0,16.0,NaN,takeaway,2023-12-22
42,TXN_6650263,tea,2.0,1.5,3.0,NaN,takeaway,2023-01-10
43,TXN_9620080,juice,4.0,3.0,12.0,NaN,takeaway,2023-10-02
44,TXN_1491578,cookie,2.0,1.0,2.0,NaN,NaN,2023-02-23
45,TXN_5455792,salad,3.0,5.0,15.0,cash,NaN,2023-03-22
46,TXN_8078640,juice,4.0,3.0,12.0,digital wallet,in-store,2023-11-03
47,TXN_9499313,juice,5.0,3.0,15.0,NaN,NaN,2023-03-02
48,TXN_8201146,juice,5.0,3.0,15.0,cash,NaN,2023-06-26
49,TXN_8230936,cake,3.0,3.0,9.0,NaN,NaN,2023-05-02

In [68]:
cafe['Transaction_date'] = cafe['Transaction_date'].replace('ERROR', np.nan)
from dateutil import parser
def date_parser(date_str):
    try:
        return parser.parse(date_str, dayfirst=True)
    except Exception:
        return pd.naT
cafe['Transaction_date'] = cafe['Transaction_date'].apply(date_parser)
cafe['Transaction_date']

KeyError: 'Transaction_date'