In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("C:/Users/umeha/Downloads/food_coded.csv")
df.head(10)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
5,2.25,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,1.0,2.0,4,940.0,345,None.,1,2,1315,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
8,3.3,1,1,430,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,...,2.0,2.0,5,725.0,345,none,3,2,760,180
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125

In [15]:
missing_values = df.isnull().sum()
missing_values
top5_missing = df.isnull().sum() .sort_values(ascending=False).head(5)
top5_missing

type_sports                   26
comfort_food_reasons_coded    19
calories_day                  19
cuisine                       17
exercise                      13
dtype: int64

In [16]:
df.dtypes
for col in df.columns:
    types = df[col].apply(type).value_counts()
    if len(types) > 1:
        print(f"\nColumn: {col}")
        print(types)

Column: GPA
GPA
<class 'str'>      123
<class 'float'>      2
Name: count, dtype: int64

Column: comfort_food
comfort_food
<class 'str'>      124
<class 'float'>      1
Name: count, dtype: int64

Column: comfort_food_reasons
comfort_food_reasons
<class 'str'>      123
<class 'float'>      2
Name: count, dtype: int64

Column: diet_current
diet_current
<class 'str'>      124
<class 'float'>      1
Name: count, dtype: int64

Column: eating_changes
eating_changes
<class 'str'>      122
<class 'float'>      3
Name: count, dtype: int64

Column: father_profession
father_profession
<class 'str'>      122
<class 'float'>      3
Name: count, dtype: int64

Column: fav_cuisine
fav_cuisine
<class 'str'>      123
<class 'float'>      2
Name: count, dtype: int64

Column: food_childhood
food_childhood
<class 'str'>      124
<class 'float'>      1
Name: count, dtype: int64

Column: healthy_meal
healthy_meal
<class 'str'>      124
<class 'float'>      1
Name: count, dtype: int64

Column: ideal_diet
ideal_diet
<class 'str'>      124
<class 'float'>      1
Name: count, dtype: int64

Column: meals_dinner_friend
meals_dinner_friend
<class 'str'>      122
<class 'float'>      3
Name: count, dtype: int64

Column: mother_profession
mother_profession
<class 'str'>      123
<class 'float'>      2
Name: count, dtype: int64

Column: type_sports
type_sports
<class 'str'>      99
<class 'float'>    26
Name: count, dtype: int64

Column: weight
weight
<class 'str'>      123
<class 'float'>      2
Name: count, dtype: int64

In [34]:
df["GPA"] = df["GPA"].replace(["", "NA", "N/A", "na", "Unknown", "n/a"], np.nan)
df["calories_day"] = df["calories_day"].fillna(df["calories_day"].mean())
df[["GPA", "calories_day"]].isnull().sum()

GPA             3
calories_day    0
dtype: int64

In [35]:
df["GPA"]

0        2.4
1      3.654
2        3.3
3        3.2
4        3.5
       ...
120      3.5
121        3
122    3.882
123        3
124      3.9
Name: GPA, Length: 125, dtype: str

In [48]:
#gender_map = {
 ####df["Gender"] = df["Gender"].map(gender_map)
#df["Gender"].value_counts(dropna=False)
df["Gender"].unique()

<StringArray>
[nan]
Length: 1, dtype: str