In [49]:
#import libraries
import pandas as pd
import numpy as np

In [50]:
#load dataset
sales = pd.read_csv("customer_data_raw.csv")
sales.head()

,CustomerID,fullName,Gender,Age,Region,Product,Quantity,Price($),PurchaseDate,Feedback,IsMember
0,201.0,Alice Johnson,F,29,North,Laptop,1,$850.50,2023/04/12,Good,Yes
1,202.0,micheal SMITH,Male,thirty,south,Phone,2,300,2023-11-01,Excellent,no
2,203.0,Sarah lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,Y
3,204.0,David-Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,n
4,205.0,NaN,Female,42,north,Earphones,5,75,2021/07/05,Good,yes

In [51]:
region = pd.read_csv("region_sales_data.csv")
region.head()

    Region  TargetSales($)        Manager               ContactEmail
0    north           12000  Grace Anthony  grace.anthony@company.com
1    south           10000    Paul Walker    paul_walker@company.com
2     east            8500      Diana Lee      diana.lee@company.com
3     west            9000       John Kim       john.kim@company.com
4  central            9500      Susan Ade      susan_ade@company.com

In [52]:
#Check info
sales.info()

<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    9 non-null      float64
 1   fullName      9 non-null      str
 2   Gender        10 non-null     str
 3   Age           9 non-null      str
 4   Region        10 non-null     str
 5   Product       10 non-null     str
 6   Quantity      10 non-null     int64
 7   Price($)      9 non-null      str
 8   PurchaseDate  10 non-null     str
 9   Feedback      8 non-null      str
 10  IsMember      10 non-null     str
dtypes: float64(1), int64(1), str(9)
memory usage: 1012.0 bytes

In [53]:
sales.isnull().sum()

CustomerID      1
fullName        1
Gender          0
Age             1
Region          0
Product         0
Quantity        0
Price($)        1
PurchaseDate    0
Feedback        2
IsMember        0
dtype: int64

In [54]:
#to rename the sales column
sales.rename(columns={
    'CustomerID': 'customer_id',
    'fullName': 'full_name',
    'Gender': 'gender',
    'Age': 'age',
    'Region': 'region',
    'Product': 'product',
    'Quantity': 'quantity',
    'Price($)': 'price',
    'PurchaseDate': 'purchase_date',
    'Feedback': 'feedback',
    'IsMember': 'is_member',
}, inplace=True)
sales.head()

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29,North,Laptop,1,$850.50,2023/04/12,Good,Yes
1,202.0,micheal SMITH,Male,thirty,south,Phone,2,300,2023-11-01,Excellent,no
2,203.0,Sarah lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,Y
3,204.0,David-Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,n
4,205.0,NaN,Female,42,north,Earphones,5,75,2021/07/05,Good,yes

In [55]:
#ensure consistent values in the full_name column
sales['full_name'] = sales['full_name'].astype(str).str.title()
sales['full_name'] = sales['full_name'].str.replace('-', ' ')
sales.head(10)

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29,North,Laptop,1,$850.50,2023/04/12,Good,Yes
1,202.0,Micheal Smith,Male,thirty,south,Phone,2,300,2023-11-01,Excellent,no
2,203.0,Sarah Lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,Y
3,204.0,David Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,n
4,205.0,NaN,Female,42,north,Earphones,5,75,2021/07/05,Good,yes
5,206.0,John Brown,m,27,marketing,Laptop,1,"1,200",2024/10/14,Poor,No
6,NaN,Emma Wilson,F,33,East,Charger,2,25,2022/12/01,Good,Yes
7,208.0,Tom Davis,M,30,South,Laptop,1,800,2023/03/22,NaN,True
8,209.0,Jane Miller,Female,NaN,HR,Phone,2,310,2023/05/10,bad,N
9,210.0,Chris Taylor,male,28,south,Charger,3,30,2024/02/05,Excellent,TRUE

In [56]:
#ensure consistent values in the gender column
sales['gender'] = sales['gender'].str.lower()
sales['gender'] = sales['gender'].replace({
    'f': 'F',
    'male': 'M',
    'm': 'M',
    'female': 'F'
})
sales.head(10)

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29,North,Laptop,1,$850.50,2023/04/12,Good,Yes
1,202.0,Micheal Smith,M,thirty,south,Phone,2,300,2023-11-01,Excellent,no
2,203.0,Sarah Lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,Y
3,204.0,David Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,n
4,205.0,NaN,F,42,north,Earphones,5,75,2021/07/05,Good,yes
5,206.0,John Brown,M,27,marketing,Laptop,1,"1,200",2024/10/14,Poor,No
6,NaN,Emma Wilson,F,33,East,Charger,2,25,2022/12/01,Good,Yes
7,208.0,Tom Davis,M,30,South,Laptop,1,800,2023/03/22,NaN,True
8,209.0,Jane Miller,F,NaN,HR,Phone,2,310,2023/05/10,bad,N
9,210.0,Chris Taylor,M,28,south,Charger,3,30,2024/02/05,Excellent,TRUE

In [57]:
#cleaning the region column
sales['region'] = sales['region'].str.lower().str.strip()
sales['region'] = sales['region'].replace({
    'marketing': np.nan,
    'hr': np.nan
})
sales.head(10)

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29,north,Laptop,1,$850.50,2023/04/12,Good,Yes
1,202.0,Micheal Smith,M,thirty,south,Phone,2,300,2023-11-01,Excellent,no
2,203.0,Sarah Lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,Y
3,204.0,David Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,n
4,205.0,NaN,F,42,north,Earphones,5,75,2021/07/05,Good,yes
5,206.0,John Brown,M,27,NaN,Laptop,1,"1,200",2024/10/14,Poor,No
6,NaN,Emma Wilson,F,33,east,Charger,2,25,2022/12/01,Good,Yes
7,208.0,Tom Davis,M,30,south,Laptop,1,800,2023/03/22,NaN,True
8,209.0,Jane Miller,F,NaN,NaN,Phone,2,310,2023/05/10,bad,N
9,210.0,Chris Taylor,M,28,south,Charger,3,30,2024/02/05,Excellent,TRUE

In [68]:
#cleaning the is_member column
sales['is_member'] = sales['is_member'].astype(str).str.lower().str.strip()
sales['is_member'] = sales['is_member'].replace({
    'yes': 'True',
    'no': 'False',
    'y': 'True',
    'n': 'False',
    'true': 'True'
})

sales.head(10)

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29.0,north,Laptop,1,850.5,2023-12-04,Good,True
1,202.0,Micheal Smith,M,30.0,south,Phone,2,300.0,2023-01-11,Excellent,false
2,203.0,Sarah Lee,F,26.0,east,Laptop,1,950.0,2024-01-18,NaN,True
3,204.0,David Kim,M,31.0,west,Tablet,3,310.0,2022-09-25,Average,false
4,205.0,Unknown,F,42.0,north,Earphones,5,75.0,2021-05-07,Good,True
5,206.0,John Brown,M,27.0,south,Laptop,1,1200.0,2024-10-14,Poor,false
6,207.0,Emma Wilson,F,33.0,east,Charger,2,25.0,2022-01-12,Good,True
7,208.0,Tom Davis,M,30.0,south,Laptop,1,800.0,2023-03-22,NaN,True
8,209.0,Jane Miller,F,30.0,south,Phone,2,310.0,2023-10-05,Bad,false
9,210.0,Chris Taylor,M,28.0,south,Charger,3,30.0,2024-05-02,Excellent,True

In [59]:
#cleaning the feedback column
sales['feedback'] = sales['feedback'].astype(str).str.title()
sales.head(10)

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29,north,Laptop,1,$850.50,2023/04/12,Good,True
1,202.0,Micheal Smith,M,thirty,south,Phone,2,300,2023-11-01,Excellent,False
2,203.0,Sarah Lee,F,26,east,Laptop,1,$950,2024/01/18,NaN,True
3,204.0,David Kim,M,31,west,Tablet,3,NaN,2022/09/25,Average,False
4,205.0,NaN,F,42,north,Earphones,5,75,2021/07/05,Good,True
5,206.0,John Brown,M,27,NaN,Laptop,1,"1,200",2024/10/14,Poor,False
6,NaN,Emma Wilson,F,33,east,Charger,2,25,2022/12/01,Good,True
7,208.0,Tom Davis,M,30,south,Laptop,1,800,2023/03/22,NaN,True
8,209.0,Jane Miller,F,NaN,NaN,Phone,2,310,2023/05/10,Bad,False
9,210.0,Chris Taylor,M,28,south,Charger,3,30,2024/02/05,Excellent,True

In [60]:
#cleaning the age column
sales['age'] = sales['age'].replace({
    'thirty': 30,
    'Nan': np.nan
})
sales['age'] = pd.to_numeric(sales['age'], errors='coerce')
sales['age'].info()

<class 'pandas.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: age
Non-Null Count  Dtype
--------------  -----
9 non-null      float64
dtypes: float64(1)
memory usage: 212.0 bytes

In [61]:
#cleaning the price column
sales['price'] = (
    sales['price']
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
)
sales['price'] = pd.to_numeric(sales['price'], errors='coerce')
sales['price'].info()

<class 'pandas.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: price
Non-Null Count  Dtype
--------------  -----
9 non-null      float64
dtypes: float64(1)
memory usage: 212.0 bytes

In [62]:
#cleaning the purchase date - to convert the date to valid date, we use the pandas to_datetime format.
from dateutil import parser
def date_parser(date_str):
    try:
        return parser.parse(date_str, dayfirst=True)
    except Exception:
        return pd.NaT
sales['purchase_date'] = sales['purchase_date'].apply(date_parser)

sales['purchase_date']

0   2023-12-04
1   2023-01-11
2   2024-01-18
3   2022-09-25
4   2021-05-07
5   2024-10-14
6   2022-01-12
7   2023-03-22
8   2023-10-05
9   2024-05-02
Name: purchase_date, dtype: datetime64[us]

In [69]:
#handling missing entries
sales['customer_id'] = sales['customer_id'].fillna(207.0)
sales['full_name'] = sales['full_name'].fillna('Unknown')
sales['age'] = sales['age'].fillna(sales['age'].median())
sales['region'] = sales['region'].fillna(sales['region'].mode()[0])
sales['feedback'] = sales['feedback'].fillna('No Feedback')

sales

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member
0,201.0,Alice Johnson,F,29.0,north,Laptop,1,850.5,2023-12-04,Good,True
1,202.0,Micheal Smith,M,30.0,south,Phone,2,300.0,2023-01-11,Excellent,false
2,203.0,Sarah Lee,F,26.0,east,Laptop,1,950.0,2024-01-18,No Feedback,True
3,204.0,David Kim,M,31.0,west,Tablet,3,310.0,2022-09-25,Average,false
4,205.0,Unknown,F,42.0,north,Earphones,5,75.0,2021-05-07,Good,True
5,206.0,John Brown,M,27.0,south,Laptop,1,1200.0,2024-10-14,Poor,false
6,207.0,Emma Wilson,F,33.0,east,Charger,2,25.0,2022-01-12,Good,True
7,208.0,Tom Davis,M,30.0,south,Laptop,1,800.0,2023-03-22,No Feedback,True
8,209.0,Jane Miller,F,30.0,south,Phone,2,310.0,2023-10-05,Bad,false
9,210.0,Chris Taylor,M,28.0,south,Charger,3,30.0,2024-05-02,Excellent,True

In [70]:
#creating a new column called total sales
sales['total_sales'] = sales['quantity'] * sales['price']
sales

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member,total_sales
0,201.0,Alice Johnson,F,29.0,north,Laptop,1,850.5,2023-12-04,Good,True,850.5
1,202.0,Micheal Smith,M,30.0,south,Phone,2,300.0,2023-01-11,Excellent,false,600.0
2,203.0,Sarah Lee,F,26.0,east,Laptop,1,950.0,2024-01-18,No Feedback,True,950.0
3,204.0,David Kim,M,31.0,west,Tablet,3,310.0,2022-09-25,Average,false,930.0
4,205.0,Unknown,F,42.0,north,Earphones,5,75.0,2021-05-07,Good,True,375.0
5,206.0,John Brown,M,27.0,south,Laptop,1,1200.0,2024-10-14,Poor,false,1200.0
6,207.0,Emma Wilson,F,33.0,east,Charger,2,25.0,2022-01-12,Good,True,50.0
7,208.0,Tom Davis,M,30.0,south,Laptop,1,800.0,2023-03-22,No Feedback,True,800.0
8,209.0,Jane Miller,F,30.0,south,Phone,2,310.0,2023-10-05,Bad,false,620.0
9,210.0,Chris Taylor,M,28.0,south,Charger,3,30.0,2024-05-02,Excellent,True,90.0

In [71]:
#creating a new column named age group
def age_group(age):
    if 18 <= age <= 25:
        return "Youth"
    elif 26 <= age <=35:
        return "Adult"
    elif 36 <= age <=50:
        return "Mature"
    else:
        return "Teenage"
sales['age_group'] = sales['age'].apply(age_group)
sales

,customer_id,full_name,gender,age,region,product,quantity,price,purchase_date,feedback,is_member,total_sales,age_group
0,201.0,Alice Johnson,F,29.0,north,Laptop,1,850.5,2023-12-04,Good,True,850.5,Adult
1,202.0,Micheal Smith,M,30.0,south,Phone,2,300.0,2023-01-11,Excellent,false,600.0,Adult
2,203.0,Sarah Lee,F,26.0,east,Laptop,1,950.0,2024-01-18,No Feedback,True,950.0,Adult
3,204.0,David Kim,M,31.0,west,Tablet,3,310.0,2022-09-25,Average,false,930.0,Adult
4,205.0,Unknown,F,42.0,north,Earphones,5,75.0,2021-05-07,Good,True,375.0,Mature
5,206.0,John Brown,M,27.0,south,Laptop,1,1200.0,2024-10-14,Poor,false,1200.0,Adult
6,207.0,Emma Wilson,F,33.0,east,Charger,2,25.0,2022-01-12,Good,True,50.0,Adult
7,208.0,Tom Davis,M,30.0,south,Laptop,1,800.0,2023-03-22,No Feedback,True,800.0,Adult
8,209.0,Jane Miller,F,30.0,south,Phone,2,310.0,2023-10-05,Bad,false,620.0,Adult
9,210.0,Chris Taylor,M,28.0,south,Charger,3,30.0,2024-05-02,Excellent,True,90.0,Adult